* {
  box-sizing: border-box;
}
body{
  background-color: #fff;
  font-family: 'Unbounded', cursive;
  margin: 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.container {

  margin: auto;
}
.container-header{
  background-color: #5493ff;
}
.buttons {
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #FFFFFF;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  font-size: 12px;
  line-height: 24px;
  color: #595959;
  font-family: 'Unbounded', cursive;
  border-radius: 5px;
}
.button:hover{
  background-color: #3b28cc ;
  transition: background-color 0.2s;
  color: #fff;
  border: 1px solid #3b28cc;
}
.button-primary {
  border: 1px solid #fff;
  margin-right: 10px;
  border-radius: 5px;
}
.a{
  text-decoration: none;
  color:#595959;;
}
.a:hover{
  color: #fff;
}
.input {
  background: #FFFFFF;
  border: 1px solid #ffff;
  border-radius: 8px;
  width: auto;
  line-height: 24px;
  padding: 4px;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left 11px center;
  font-family: 'Unbounded', cursive;
  margin-right: 35px;
}
.input-address {
  flex: 0.8;
  background-image: url(../img/Vector.svg);
  padding-left: 35px;
  padding-right: 35px;
}
/* текст */
.FlightPool{
  color: #5493ff;
}

.text{
  text-align: center;
  background-color: #fff;
}
/* slyder */
.container_slider_css {
  margin: 80px auto;
  width: 1200px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;

}

.photo_slider_css {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  width: 100%
}

@keyframes round {
  25% {
    opacity: 1
  }

  40% {
    opacity: 0
  }
}

img:nth-child(1) {
  animation-delay: 12s
}

img:nth-child(2) {
  animation-delay: 8s
}

img:nth-child(3) {
  animation-delay: 4s
}

img:nth-child(4) {
  animation-delay: 0
}

@media(min-width:0px) and (max-width:320px) {
  .container_slider_css {
    width: 80%;
    height: 190px
  }
}

@media(min-width:321px) and (max-width:480px) {
  .container_slider_css {
    width: 80%;
    height: 190px
  }
}
/* баннер */
.banner{
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 18px;
  background: #fff;
  box-shadow: rgb(1 5 3 / 25%) 0 0 15px -6px, rgb(0 0 0 / 30%) 0 0 1px -12px;
  font-size: 1.2em;
  text-align: center;
  color: #000;
}
.scrolled .banner {
  display: block;
}
@media (max-width: 1000px){
 .banner {
  text-align: right;
}
}
.banner-wrap {
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.9em;
}
/* акции */
.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgb(70 130 180 / 20%);
  border-radius: 10px;
  margin-bottom: 40px;
  width: 300px;
  height: 500px;
  margin-right: 20px;
  margin-top: 70px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content:center;
}

.card-image {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.card-text {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 15px;
}
.info{
  font-size: 12px;
}

/* контакты */
.contacts-form {
  background: #FFFFFF;
  box-shadow: -17px 11px 0px rgb(84 147 255 / 40%);
  border-radius: 8px;
  max-width: 400px;
  height: 300px;
  padding-left: 70px;
  padding-top: 50px;
  padding-right: 48px;
  padding-bottom: 49px;
  margin-bottom: 100px;
}
.action-form{
  align-items: center;
  justify-content: space-around;
}
.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section-title{
  text-align: center;
  margin-bottom: 50px;
}
.button-action{
  margin-top: 20px;
  align-items: center;
  display: block;
  background: #5493ff;
  color: #fff ;
  width: 235px;
  
}
.input-mail{
  background-color: #eaedf1;
}
/* подвал */
.footer {
  padding: 10px 0;
  background-color: #fff;
}

.footer-block {
  align-items: center;
  display: flex;
justify-content: space-evenly;
}

.footer-link {
  display: inline-block;
  color: #595959;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
  line-height: 21px;
}

.footer-link:not(:last-child) {
  margin-right: 15px;
}

.footer-nav {

  margin-left: 35px;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-link:not(:last-child) {
  margin-right: 31px;
}

.main{
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 23.04%,#a1b5d8 500%);
  
}
/* zooom */
.zoom-wrapper{
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.zoom-wrapper img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
}
.zoom-wrapper:hover img{
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
/* promo */
.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #cae9ff url(../img/clouds/cloud_054.png) no-repeat top right 0px / 1000px;
  border-radius: 10px;
  padding: 68px 70px;
  color: #302C34;
  margin-bottom: 56px;
}

.promo-title {
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 46px;
}

.promo-text {
  max-width: 538px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
/* media */
